.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.countryCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  max-width: 200px;
}

.flag-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.flag-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 50rem;
  margin: 10px;
  padding: 10px;
}
