.countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  width: 200px;
  height: 200px;
}

.flag-image {
  width: 100px;
  height: 100px;
  /* height: auto;
  border-radius: 4px; */
}

.flag-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

.search-field {
  width: 100%;
  max-width: 50rem;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
