@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(36, 33, 33);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
