button {
  border: none;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  font-size: 24px;
  color: rgb(46, 38, 38);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #f5f4f2;
  background-image: linear-gradient(315deg, #f5f4f2 0%, #ff4081 74%);
}

.equals {
  grid-column: 3 / 5;
  background-color: #ea2027;
  background-image: linear-gradient(315deg, #ea2027 0%, #ee5a24 74%);
}

.equals:hover {
  background-color: rgb(58, 36, 33);
  background-color: #69140e;
  background-image: linear-gradient(315deg, #69140e 0%, #d58936 74%);
}
