.container {
  max-width: 100%;
  border: 1px solid transparent;
  position: relative;
  padding: 20px;
}

.fieldLabel {
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 10px;
}

.fieldInput {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin: 10px;
}

.button {
  width: 90px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.gridContainer {
  position: relative;
  width: 680px;
  border: 1px solid black;
  margin-top: 20px;
}

.gridHeader, .gridRow {
  display: flex;
  border-bottom: 1px solid black;
  height: 40px;
}

.gridCell {
  width: 136px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.details {
  position: relative;
  width: 680px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}
